@font-face
	font-family system
	font-style normal
	font-weight 300
	src local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma")

body
	font-family mr-eaves-xl-sans, system
	letter-spacing -0.025em

h2, h3, li, input, button, .button
	font-weight 800

h4, h5, h6, p, a
	font-weight 400

p, a, li, input, button, .button
	font-size 1rem

h2, h3
	font-size 1.5rem

h3
	text-transform uppercase

a
	text-decoration underline

nav a
	text-decoration none
