---
layout: default
title: Hjem | Jannick Haunstrup
---

{% include front-header.html %}

<section id="start-section">
	<img id="fp-cover-name" src="/assets/img/fp-cover-name.svg" alt="">
	<a id="scroll-explain-container" href="#om">
		<p id="scroll-explain">Scroll ned for mere...</p>
		<svg class="scroll-indicator" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.08971 70.00002">
			<path class="mouse" d="M25,65.33723A17.56218,17.56218,0,0,1,7.45766,47.7949V22.20512a17.54234,17.54234,0,1,1,35.08468,0V47.7949A17.56222,17.56222,0,0,1,25,65.33723M25,70A23.04484,23.04484,0,0,0,48.04486,46.95517V23.04485a23.04486,23.04486,0,1,0-46.08972,0V46.95517A23.04483,23.04483,0,0,0,25,70Z" transform="translate(-1.95514 0.00001)"/>
			<path class="dot" d="M24.9995,36.85055A10.94473,10.94473,0,1,1,14.055,47.79553,10.95806,10.95806,0,0,1,24.9995,36.85055Z" transform="translate(-1.95514 0.00001)"/>
		</svg>
	</a>
</section>

<section id="about-section">
	<div id="om"></div>

	<h2 class="section-title">1. Hvem er jeg?</h2>
	<div id="profile-quote">
		<img src="#" alt="">
		<blockquote>
			<p>
				<cite>“Nullam quis risus eget urna mollis ornare vel eu leo.<br>
					Cras mattis consectetur purus sit amet fermentum.”</cite>
				- Jannick Voss Haunstrup
			</p>
		</blockquote>
	</div>
	<div class="fifty-fifty" id="about-text">
		<div class="item">
			<h3>Det formelle</h3>
			<p>Jeg er under uddannelse som mediegrafiker ved SDE i på Munkebjergvej i Odense, og sidder lige pt. i Skolepraktikken, hvor der arbejdes med alt fra hjemmesider til tryk på muleposer.
Mine kompetencer spænder ret bredt, da jeg før har været meget fastsat på det digitale, men i løbet af min uddannelse har bevæget mine interesser meget mere over i det trykte. Mit daglige arbejde foregår dog ikke kun foran computeren, men også i diverse skitsebøger, hvor jeg udarbejder kalligrafiske værker.</p>
		</div>
		<div class="item">
			<h3>Det uformelle</h3>
			<p>Jeg lytter meget til musik (og har selv spillet så længe, jeg kan huske) og drikker kaffe som en pensionist. Jeg er gået i gang med at strikke og vil også gerne lære at sy.
Hvis jeg vandt i Lotto, ville jeg avle bier.</p>
		</div>
	</div>
</section>

<section id="showcase-section">
	<div id="showcase"></div>

	<h2 class="section-title">2. Hvad laver jeg?</h2>
	<div class="flex-col-container" id="showcase-container">
		<div id="category-selector">
			<div id="category-switch"></div>
			<div class="category active" id="personal-category">Personlige</div>
			<div class="category" id="clients-category">Kunder</div>
		</div>
	</div>

	{% include post-section.html %}
</section>

<section id="services-section">
	<div id="services"></div>

	<h2 class="section-title">3. Hvilke services udbyder jeg?</h2>
	<ul class="services-list">
		<li>
			<div class="service-title">
				<h3>Hjemmeside</h3>
				<h4>fra bunden</h4>
			</div>
			<ul>
				<li>Nulla vitae elit libero, a pharetra augue</li>
				<li>Ornare Bibendum Malesuada</li>
				<li>Consectetur Lorem</li>
			</ul>
			<a href="#">Se eksempler »</a>
		</li>
		<li>
			<div class="service-title">
				<h3>Hjemmeside</h3>
				<h4>i WordPress</h4>
			</div>
			<ul>
				<li>Lorem Vulputate Egestas Adipiscing Etiam</li>
				<li>Nibh Purus Mattis</li>
				<li>Parturient Ullamcorper Lorem Nullam</li>
				<li>Cras justo odio, dapibus ac facilisis in, egestas eget quam</li>
			</ul>
			<a href="#">Se eksempler »</a>
		</li>
		<li>
			<div class="service-title">
				<h3>Logo</h3>
			</div>
			<ul>
				<li>Mattis Euismod Porta Vestibulum Lorem</li>
				<li>Parturient Nibh</li>
				<li>Ligula Venenatis Bibendum</li>
			</ul>
			<a href="#">Se eksempler »</a>
		</li>
		<li>
			<div class="service-title">
				<h3>Portræt-<br>fotografering</h3>
			</div>
			<ul>
				<li>Ipsum Dolor Sit Bibendum Porta</li>
				<li>Aenean Ultricies</li>
				<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
				<li>Sollicitudin Pharetra</li>
			</ul>
			<a href="#">Se eksempler »</a>
		</li>
	</ul>
</section>

<section id="testimonials-section">
	<div id="udtalelser"></div>

	<h2 class="section-title">4. Hvad siger kunderne?</h2>
	{% for testimonial in site.data.testimonials %}
		<div class="testimonial">
			<img src="{{ testimonial.image }}" alt="">
			<p>{{ testimonial.testimonial }}</p>
			<h3>{{ testimonial.name }}</h3>
			<h4>{{ testimonial.job }}</h4>
		</div>
	{% endfor %}
</section>
