header
	height 100px
	width 100%
	padding 0 60px
	box-sizing border-box

	nav
		display flex
		align-items center
		justify-content space-between
		height 100%
		width 100%

		ul

			a
				float left
				margin-right 20px

				&:last-child
					margin-right 0
