header
	height 100px
	width 100%
	padding 0 40px
	box-sizing border-box
	position absolute
	top 0
	left 0
	z-index 10

	nav
		display flex
		align-items center
		justify-content space-between
		height 100%
		width 100%

		ul

			a
				float left
				margin-right 20px

				&:last-child
					margin-right 0
