.services-list
	display flex
	justify-content space-between

	> li
		position relative
		display flex
		flex-direction column
		align-items center
		background sec-bg-color
		padding 5px
		box-sizing border-box
		height 350px
		width 260px
		box-shadow main-box-shadow

		.service-title
			position relative
			background bg-color
			width 250px
			text-align center
			height 65px
			display flex
			flex-direction column
			align-items center
			justify-content center

			h3
				line-height 1em

			h4
				margin-top -0.125em
				font-weight 800

		ul
			padding 10px 10px 10px 20px
			margin-bottom 10px

			li
				position relative
				font-weight 300
				margin-bottom 0.75em
				line-height 1.25em

				&::before
					content '›'
					position absolute
					left -0.75em

		a
			position absolute
			margin-top 10px
			bottom 20px
			left 50%
			transform translateX(-50%)
			height 40px
			width 160px
			background bg-color
			color text-color
			font-weight 800
			text-align center
			line-height 40px
