#start-section
	background-image url(/assets/img/start-img.jpg)
	background-size cover
	background-repeat no-repeat
	background-position center center
	height 100vh

	#fp-cover-name
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		width 80%
		max-width 400px

	#scroll-explain
		position absolute
		text-align center
		left 50%
		bottom 40px
		transform translateX(-50%)
		text-decoration none
		color rgba(sec-text-color, 0.5)
		font-size 1.25rem

#about-section

	#profile-quote
		display flex
		align-items center
		justify-content center
		width 100%
		margin-bottom 120px

		blockquote
			margin-left 40px

			cite, p
				font-weight 800

			p
				display flex
				flex-direction column
				align-items flex-end

			cite
				font-size 1.5rem
				font-style italic
				color rgba(text-color, 0.5)
				line-height 1.1em
				margin-bottom 15px

	#about-text

		h3
			position absolute
			top -55px
			left 20px
			z-index 2
			color sec-text-color

			&::before
				content ''
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
				background sec-bg-color
				height 45px
				width 210px
				z-index -1

		p
			padding-left 18px
			box-sizing border-box

#showcase-section

	#showcase-container
		align-items center
		padding-top 20px

		#category-selector
			display flex
			align-items center
			justify-content center
			background sec-bg-color
			border 4px solid bg-color
			height 40px
			padding 4px
			border-radius 28px
			box-shadow 2px 2px 4px rgba(sec-bg-color, 0.8)
			cursor pointer

			#category-switch
				height 40px
				width 150px
				background bg-color
				position absolute
				top 50%
				left 4px
				transform translate(0, -50%)
				border-radius 20px

				&.moved
					transform translate(150px, -50%)

			.category
				height 100%
				width 150px
				font-size 1rem
				font-weight 800
				line-height 40px
				text-align center
				text-transform uppercase
				color rgba(sec-text-color, 0.5)

				&.active
					color rgba(text-color, 1)
