#start-section
	background-image url(/assets/img/start-img.jpg)
	background-size cover
	background-repeat no-repeat
	background-position center center
	height 100vh

	#fp-cover-name
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		width 80%
		max-width 400px

	#scroll-explain
		position absolute
		text-align center
		left 50%
		bottom 40px
		transform translateX(-50%)
		text-decoration none
		color rgba(sec-text-color, 0.5)
		font-size 1.25rem

#about-section

	#profile-quote
		display flex
		align-items center
		justify-content center
		width 100%
		margin-bottom 60px

		blockquote
			margin-left 40px

			cite, p
				font-weight 800

			p
				display flex
				flex-direction column
				align-items flex-end

			cite
				font-size 1.5rem
				font-style italic
				color rgba(text-color, 0.5)
				line-height 1.1em
				margin-bottom 15px

	#about-text

		h3
			margin-bottom 10px

		p
			padding-left 18px
			box-sizing border-box
