#start-section
	background-image url(/assets/img/start-img.jpg)
	background-size cover
	background-repeat no-repeat
	background-position center center
	height 100vh

	#fp-cover-name
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		width 80%
		max-width 400px
